
{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}
    <section>
        <div class="info-box">
        <p>Welcome to our website! We are a team of passionate individuals committed to leveraging technology for better health outcomes. Our mission is to develop innovative solutions that make healthcare accessible and efficient. Stay with us as we continue to explore new advancements in medical technology.</p>
        </div>
        <div class="info-box">
        <p>
            At <strong>Skin Lesion Detector</strong>, our mission is to empower individuals to take charge of their skin health by providing advanced and accessible skin analysis tools. 
            Leveraging the power of cutting-edge machine learning and dermatological expertise, we aim to revolutionize early detection and treatment recommendations for skin conditions.
        </p>
    </div>
    <div class="info-box">
        <h3>Our Goals</h3>
        <ul>
            <li>Provide real-time, accurate risk assessments for skin lesions.</li>
            <li>Promote early detection of malignant conditions like melanoma.</li>
            <li>Bridge the gap between technology and dermatology for seamless patient care.</li>
        </ul>
    </div>
    <div class="info-box">
        <h3>Why Choose Us?</h3>
        <ul>
            <li><strong>Innovative Technology:</strong> We use advanced AI algorithms trained on diverse datasets like HAM10000.</li>
            <li><strong>Accessibility:</strong> Our web-based application makes skin health monitoring simple for everyone.</li>
            <li><strong>Reliable Support:</strong> We partner with dermatologists to provide reliable consultation pathways.</li>
        </ul>
    </div>
    <div class="info-box">
        <h3>Our Vision</h3>
        <p>
            We envision a world where everyone has access to affordable and effective tools for skin health monitoring. 
            By leveraging technology, we aspire to minimize late-stage skin cancer diagnoses and promote healthier lifestyles globally.
        </p>
    </div>
    </section>

{% endblock %}
